a{
	text-decoration: none;
	color: black;
}
.header{
	height: 50px;
	font-size: 18px;
}
.header img{
	padding-left: 150px;
	float: left;
	width: 150px;
	height: auto;
}
.menu a{
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	color: black;
}
.menu p a{
	background-color: green;
	margin-top: 20px;
	padding: 2px;
	color: white;
}
.menu select{
	float: right;
	margin-top: 20px;
	text-align: right;
	border: none;
	text-align: center;
	font-size: 18px;
}
.head{
	height: 350px;
	width: 100%;
	margin-top: 10px;
}
.head img{
	float: left;
	width: 100%;
	height: 550px;
	background-image: fixed;
	position: absolute;
	z-index: -1;
}
.head_content{
	float: left;
	margin-left: 20%;
	margin-top: 50px;
	width: 650px;
	height: 200px;
	background-color: white;
	text-align: center;
	padding: 50px;
	font-size: 25px;
}
.head_content h5{
	color: gray;
}
.head_content a{
	text-align: justify;
	background-color: yellow;
	padding: 10px;
}
.main_content{
	margin-left: 200px;
	margin-right: 200px;
	width: 100%;
	height: 70%;
}
.main_content h5 a{
	color: gray;
}
.main_content img{
	float: left;
	width: 20%;
	height: 250px;
}
.main_content p{
	margin: 20px 25px;
	float: left	;
	width: 20%;
	height: 250px;
	font-size: 20px;
	color: gray;
}
.main_content p b{
	font-size: 20px;
	color: black;

}
.sidebar{
	width: 15%;
	height: 30%;
	text-align: center;
	float: left;
}
.sidebar h4{
	text-align:center;
}
.sidebar h5{
	color: gray;
	text-align: left;
}
.submit{
	width: 100%;
	background-color: blue;
	color: white;
	padding: 5px;
}
.mail{
	padding: 5px;
}
.sidebar img{
	width: 100%;
}
.left_main_content{
	margin-left: 500px;
}
.left_main_content img{
	width: 40%;
	padding-right: 20px;
	float: left;
}
.stories h5{
	width: 40%;
	color: gray;
	text-align: justify;
	margin-left: 20px;
	float: left;
	font-size: 18px;
}
.stories h4{
	width: 40%;
	margin-left: 20px;
	float: left;
	font-size: 20px;
}
.spaces{
	height: 35vh;
}
.second_footer{
	background-color: yellow;
	width: 90%;
	height: 60vh;
	padding-top: 1%;
	padding-left: 10%;
}
.left_side h4{
	font-size: 30px;
}
.left_side a{
	color: white;
	padding: 10px;
	background-color: blue;
}
.left_side{
	float: left;
}
.right_side{
	padding-top: 1%;
	float: right;
	font-size: 25px;
	margin-right: 20%;
	width: 20%;
}
.icon img{
	width: 6%;
	background-color: white;
	padding: 10px;
}
.footer{
	background-color: black;
	float: left;
	width: 85%;
	height: 55vh;
	padding-top: 70px;
	padding-left: 200px;
	color: white;
}
.footer img{
	float: left;
}
.footer h2{
	float: right;
	margin-right: 150px;
}
.footer_menu{
	width: 20%;
	float: right;
	margin-right: 70px;
	color: gray;
}
.footer_menu a{
	color: gray;
	border-bottom: 3px dotted;
}
.footer_menu_{
	width: 10%;
	float: right;
	margin-right: 140px;
	color: gray;

}
.footer_menu_ a{
	color: gray;
}
.footer_menu__{
	width: 10%;
	float: right;
	margin-right: 180px;
	color: gray;
}
.footer_menu__ a{
	color: gray;
}
.footer h5{
	float: right;
	color: gray;
}
.second_last_line h5{
	float: left;
	margin-top: 200px;
	color: gray;
}
